* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/* Fonts */
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* wedth */
.w-100 {
    width: 100%;
}

/* Na-bar-start */
.nav-bar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.nav-bar .nav-items ul li {
    font-size: 17px;
    font-weight: 530;
    color: #6f6f6f;
    padding: 0 5px;
    display: inline-block;
}
.nav-bar .logo {
    color: rgb(33, 37, 41);
    font-size: 13px;
    
}

.nav-bar .logo span {
    color: #e61414;
}

.nav-bar .nav-items a {
    text-decoration: none;
    color: #6f6f6f;

}

.nav-bar .nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar .nav-items {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.fa-xmark {
    padding-top: 12px;
    cursor: pointer;

    color: #6f6f6f;
}

.fa-moon {
    visibility: hidden;
}

.fa-bars {
    display: none;
}

/* Nav-bar-end */
/* Header */
.Header {
    min-height: 100vh;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
padding-bottom: 10%;
}

.Header img {
    width: 100%;
    margin-top: 20%;
}

.Header img:hover {
    animation: shake 1s infinite;
}
@keyframes shake {
    0%{
        transform: translate(1px,1px) rotate(0deg);
    }
    10%{
        transform: translate(-1px,-2px) rotate(-1deg);
    }
    20%{
        transform: translate(-3px,0px) rotate(1deg);
    }
    30%{
        transform: translate(3px,2px) rotate(0deg);
    }
    40%{
        transform: translate(1px,-1px) rotate(1deg);
    }
    50%{
        transform: translate(-1px,-2px) rotate(-1deg);
    }
    60%{
        transform: translate(-3px,1px) rotate(0deg);
    }
    70%{
        transform: translate(3px,1px) rotate(-1deg);
    }
    80%{
        transform: translate(-1px,-1px) rotate(1deg);
    }
    90%{
        transform: translate(1px,2px) rotate(0deg);
    }
    100%{
        transform: translate(-1px,-2px) rotate(-1deg);
    }

}
.header-container {
    width: 90%;
}

.Header h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 65px;
    color: rgb(55, 55, 63);
}

.Header p {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color:
        rgb(79, 79, 90);
    padding-top: 20px;
    padding-bottom: 20px;

}

.Header .book-table {
    padding: 15px 25px;
    font-size: 15px;
    background-color: #CE1212;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    font-family: "Open Sans", sans-serif;
    transition: 0.7s;
}

.Buttons-container {
    margin-top: 20px;
}

.video:hover i {
    color: #CE1212;
}

.video:hover {
    color: #CE1212;
}

.book-table:hover {
    background-color: rgb(230, 20, 20);
}

.Header a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(33, 37, 41);
    ;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;

}

.video i {

    background-color: #ffffff;
    border-radius: 50%;
    color: rgb(33, 37, 41);
    padding: 10px;
    transition: 0.7s;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(206, 18, 18, 1) 50%, rgba(238, 238, 238, 1) 50%);
}

/* chef-container */
.Our-Proffesional-Chefs-container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.Header-section h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: rgb(33, 37, 41);
}

.Header-section h2 span {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: rgb(206, 18, 18);
}

.Header-section span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(127, 127, 144);
}

.chef-card {
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    box-shadow: rgba(233, 233, 233, 0.2) 0px 7px 29px 0px;
}

.chef-card:hover {
    transform: scale(1.05);
}

.Social-media {
    background-color: rgb(255, 255, 255, 0.2);
    color: #403f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 19px 6px;
    height: 160px;
    width: 40px;
    position: absolute;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    right: -011px;
    border-radius: 4px;
}

.chef-card:hover .Social-media {
    right: 11px;
    top: 25px;
    z-index: 999;
}

.Social-media i {
    color: rgb(127, 126, 126);
}

.Social-media .fa-twitter:hover {
    color: rgb(32, 31, 31);
    cursor: pointer;
}

.Social-media .fa-facebook-f:hover {
    color: rgb(32, 31, 31);
    cursor: pointer;
}

.Social-media .fa-instagram:hover {
    color: rgb(32, 31, 31);
    cursor: pointer;
}

.Social-media .fa-linkedin:hover {
    color: rgb(32, 31, 31);
    cursor: pointer;
}

.card-content {
    background-color: #ffffff;
    padding: 17px;
}

.card-content h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    color: rgb(33, 37, 41);
    padding-bottom: 6px;
}

.card-content span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(127, 127, 144);

}

.card-content p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: rgb(127, 127, 144);
    padding: 6px;
}

.Header-section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.Cheff-img {
    position: relative;
}

.Cheff-img svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Check-Our-Gallery */
.Check-Our-Gallery {
    background-color: #eeeeee;
    padding: 4%;
}

.Check-Our-Gallery-container {
    width: 90%;
    margin: auto;
}

.grid {
    columns: 1;
}

.grid .img-container img {
    display: block;

}

.img-container {
    position: relative;
    margin-bottom: 10px;
    border: #ffffff solid 4px; 
}


.Layer {
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    transition: all 0.8s;
   
}

.Layer h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);

}

.Layer p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(221, 221, 221);
    line-height: 25px;
    padding: 6px;

}

.img-container:hover .Layer {
    top: 0%;
}

/* CONTACT */
.CONTACT-container {
    width: 90%;
    margin: auto;
}

.contact-grid {
    columns: 1;
    column-gap: 10px;
    margin-top: 2%;
}

.contact-cards {
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
    padding: 25px;
    display: flex;
    gap: 15px;
}

.contact-cards h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(125, 125, 125);
}

.contact-cards p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(42, 42, 43);
    padding-top: 5px;
}

.contact-cards p span {
    font-weight: 800;
    color: black;
}

.contact-cards i {
    border-radius: 50%;
    background-color: #CE1212;
    width: 40px;
    height: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* contact-us-form */
.Contact-form-container {
    width: 90%;
    margin: auto;
}

.contact-shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin: auto;
    width: 90%;
    margin-top: 3%;
}

.form-inputs {
    width: 100%;
    padding-top: 2%;

}

.form-inputs .user-name {
    width: 100%;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-inputs .user-email {
    width: 100%;
    height: 50px;

}

.subject {
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

textarea {
    width: 100%;
}

.Contact-form-container input::placeholder {
    padding: 15px;
}

.Contact-form-container textarea::placeholder {
    padding: 15px;
}

.btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 15px 40px;
    font-size: 15px;
    color: #ffffff;
    background-color: #CE1212;
    border-radius: 50px;
    border: none;
    margin: 25px;
    cursor: pointer;
}

.light-red:hover {
    background-color: #e61414;
}

/* footer */
.footer-container {
    background-image: url("../Images/textured-metal-background.jpg"); 
    color: #ffffff;
    padding: 2%;
    margin-top: 4%;
    background-position: center;
    background-size: cover;

}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 2%;
}

.footer-logo h1 span {
    color: #CE1212;
}

.footer-logo img {
    width: 10%;

}

.Font-p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 24px;
    font-family: Liberation Sans, sans-serif;
}

.Font-h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-media-potion {
    position: relative;
    left: 20%;
}

.footer-left-side h3 {
    position: relative;
}

.footer-left-side h3::after {
    content: "";
    position: absolute;
    width: 300px;
    border: #9b9b9b solid 1px;
    top: 140%;
    right: 43%;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 15%;
    margin-top: 20px;
}

.social-media-icons i {
    font-size: 25px;
}

.Icon-nav:hover {
    color: #CE1212;
    cursor: pointer;
}

.footer-form input {
   
    width: 70%;
}

.Subscribe-btn {
    padding: 2%;
    background-color: #CE1212;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.Subscribe-btn span {
    padding-right: 5px;
}

.footer-form {
    display: flex;
    gap: 1%;
}

.footer-form input::placeholder {
    padding: 3%;
}

.footer-container ul {
    columns: 2;
    gap: 10%;
    list-style: none;
}

.footer-container ul a {
    text-decoration: none;
    color: #ffffff;
}

.footer-container .i1:hover {
    background-color: #3e3d3d;
    cursor: pointer;
    position: relative;
    left: 5%;
    padding: 3% 5%;
}

.footer-container .i1 {
    transition: 0.6s;
    width: 100%;
}

.footer-container ul li {
    padding-bottom: 6%;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 24px;
    font-family: Liberation Sans, sans-serif;

}

.footer-container ul li span {
    padding-right: 2%;
}

.footer {
    width: 90%;
    padding: 20px;
    margin: auto;
}

.footer-right-side p {
    padding-bottom: 4%;
}

.footer-right-side i {
    color: #CE1212;
    font-size: 25px;
    padding-right: 8px;
}

.social-media-potion .fa:hover {
    color: #CE1212;
}

@media (min-width: 575.98px)  {
    .nav-bar {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding-bottom: 20px;

    }

    .nav-bar .nav-items {
        position: static;
        padding: 0;
    }

    .fa-xmark {
        display: none;
    }

    .fa-moon {
        visibility: visible;
        font-size: 25px;
    }

    .nav-bar .nav-items ul {
        display: flex;
        gap: 30px;
    }

    .nav-bar .nav-items ul li {

        padding: 0px;
    }

    .nav-bar .nav-items ul li a {
        color: #6f6f6f;
    }

    .nav-bar .logo {
        color: rgb(33, 37, 41);
        font-size: 20px;
        font-weight: 700;
    }
    .header-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20%;
        margin-top: 7%;
        position: relative;

    }
    .Header {
    padding-bottom: 0%;
    }
    
    .Header img {
        margin-top: 0;
    }

    .header-content {
        order: -1;
        text-align: left;
        width: 40%;
    }

    .Hero-img {
        width: 38%;
    }
    .Header img:hover {
        animation: shake 1s infinite;
    }
    @keyframes shake {
        0%{
            transform: translate(1px,1px) rotate(0deg);
        }
        10%{
            transform: translate(-1px,-2px) rotate(-1deg);
        }
        20%{
            transform: translate(-3px,0px) rotate(1deg);
        }
        30%{
            transform: translate(3px,2px) rotate(0deg);
        }
        40%{
            transform: translate(1px,-1px) rotate(1deg);
        }
        50%{
            transform: translate(-1px,-2px) rotate(-1deg);
        }
        60%{
            transform: translate(-3px,1px) rotate(0deg);
        }
        70%{
            transform: translate(3px,1px) rotate(-1deg);
        }
        80%{
            transform: translate(-1px,-1px) rotate(1deg);
        }
        90%{
            transform: translate(1px,2px) rotate(0deg);
        }
        100%{
            transform: translate(-1px,-2px) rotate(-1deg);
        }
    
    }


    .Buttons-container {
        display: flex;
        column-gap: 20px;
    }

    .Buttons-container {
        margin-top: 0px;
    }

    .Header .book-table {
        border-radius: 0px 30px 30px 30px;
        font-weight: 400;
        cursor: pointer;
    }

    .Header p {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav-bar .nav-items li {

        position: relative;
    }

    .nav-bar .nav-items ul li::after {
        content: "";
        height: 3px;
        position: absolute;
        background-color: #CE1212;
        left: 0;
        bottom: 0;
        top: 25px;
        width: 0;
        transition: 0.5s;
    }

    .nav-bar .nav-items ul li:hover::after {
        width: 100%;
    }

    .nav-bar .nav-items .active::after {
        content: "";
        height: 3px;
        position: absolute;
        background-color: #CE1212;
        left: 0;
        bottom: 0;
        top: 25px;
        width: 100%;
        transition: 0.5s;
    }

    .nav-bar .nav-items .active a {
        color: #101010;
    }

    .nav-bar .nav-items li:hover a {
        color: #101010;
    }

    /* chef container */
    .Our-Proffesional-Chefs-container {
        width: 80%;
    }

    .chef-card {
        width: 33.3333%;
    }

    .cards-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .Our-Proffesional-Chefs-container {
        margin: auto;
        text-align: center;

    }

    .grid {
        columns: 1;
    }

    .grid {
        columns: 3;
        column-gap: 10px;
    }

    /* contact */
    .contact-grid {
        columns: 2;
        column-gap: 10px;
        margin-top: 2%;
    }

    /* form */
    .form-inputs {
        display: flex;
        justify-content: space-between;
        gap: 1%;
        width: 100%;
        padding-top: 2%;

    }

    .form-inputs .user-name {
        width: 50%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .form-inputs .user-email {
        width: 50%;
        height: 50px;
    }

    /* Footer */
    .footer {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: baseline;
    }

    .w-30 {
        width: 30%;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        left: -10%;
        gap: 15%;
        margin-top: 20px;
    }

    .footer-container ul {
        columns: 2;
        gap: 40%;
        list-style: none;
    }

    .footer-container .i1 {
        transition: 0.8s;
        width: 220%;
    }

    .Font-p::selection {
        background-color: rgb(221, 89, 89);
    }

    .Font-h3::selection {
        background-color: rgb(221, 89, 89);
    }

    .Selector::selection {
        background-color: rgb(221, 89, 89);
        color: #ffffff;
    }

}
/* Ohh-you're done!Thanks For Your Effort */